| ---
| layout: default
| key: portfolio
| custom_css: layout
| ---
| 

div.section-header 
    a(href="https://github.com/tlein/Ancona") Ancona 
        i.fa.fa-github(aria-hidden="true")
div.section
    | Ancona is an open source game engine for 2D games. 
    br
    br
    | The project started in the fall of 2014 with a fellow Epic co-worker. It's built using C++ and 
    a(href="#") SFML
    |  for rendering. 

div.section-header 
    a(href="https://github.com/JeffSwenson/duckling") duckling 
        i.fa.fa-github(aria-hidden="true")
div.section
    | duckling is an editor built for the 
    a(href="https://github.com/tlein/Ancona") Ancona
    |  game engine
    br
    br
    | The project started in the summer of 2015 with a fellow Epic co-worker. 
    