| ---
| layout: default
| key: resume
| custom_css: 
|  - resume
|  - layout
| ---
| 

div.section-header About Me
div.about-me
    img.profile-pic(src="/assets/profile_pic.png", width="100px", height="100px")
    div.section 
        | My name is Tucker Lein and I am the co-founder of ILD Games living in Madison, Wisconsin.
        br 
        br
        | During my free time, I enjoy working on open source gamedev projects which you can find on my 
        span 
            a(href="https://github.com/{{site.github_username}}.html") github
        | .

div.section-header Experience Details 
div.section
    span
        strong September 2014 - Present:
        |  Co-Founder / Tools Developer / Game Developer, 
        a(href="http://ild-games.com/") ILD Games
    ul
        li Created and maintained technology to facilitate game development including a game engine, game editor, and C++ build system
        li
            a(href="http://github.com/ild-games/duckling") duckling
            span  (Game editor used by designers to assist in creating games)
            ul
                li Worked directly with designers to identify pain points in common workflows and prioritize features to maximize impact on designer efficiency
                li Compared various interactive drawing programs to optimize main workflows with the HTML5 canvas and ensure good usability
                li Developed system that automatically creates UI based on a simple schema so any custom logic in the game can be quickly mirrored in the editor without any additional programming
                    ul
                        li Developed workflow to facilitate the creation of these schemas within the editor
        li
            a(href="http://ild-games.com/squatbot") Squatbot
            span  (Mobile platformer / endless runner game)
            ul
                li Developed gameplay, coordinated with designer and artist to produce systems that can rapidly facilitate changes in requirements and assets
                li Implemented system for dynamically changing character skins so animator can rapidly test new designs without changing configuration files or code
                li Enhanced build system to build the game for iOS, requiring contributions to SFML (open source media library used for the game)
        li
            a(href="http://github.com/ild-games/ancona") Ancona
            span  (Game engine used to build 2D games for Android, iPhone and desktop platforms. Used to create Squatbot)
            ul
                li Provided major contributions to the render engine, screen framework, game saving and loading, asset management, gameplay programming paradigm, and iOS deployment
        li
            a(href="http://github.com/ild-games/Raft") Raft
            span  (C++ Build System / Dependency Manager)
            ul
                li Maintained build system used to fetch and build C++ projects and its dependencies
div.section
    span
        strong July 2014 - September 2017:
        |  Software Developer, 
        a(href="http://www.epic.com/") Epic Systems
    ul
        li Lead development to overhaul aesthetic of the primary workflow used by registration staff at more than half of U.S. Hospitals
            ul
                li Analyzed customer configurations and did development to make sure all were compatible with the changes
        li Coordinated and developed administrator workflow for a new Financial Assistance module which required working with various teams to make sure all requirements were met
        li Migrated legacy client modules from VB6 to C# web framework
div.section
    span
        strong June 2013 – August 2013:
        |  Software Developer Intern, 
        a(href="http://www.boozallen.com/") Booz Allen Hamilton
    ul
        li Created a web application for tracking various metrics of individual developers on the team e.g. issue burndowns, and bug trends

div.section-header Skills
div.section
    ul
        li 
            strong Proficient Languages: 
            | C#, Java, JavaScript, TypeScript, M
        li 
            strong Other Languages: 
            | C++, Racket, Python, Visual Basic 6
        li 
            strong Technology Experience: 
            | Windows, Linux, Git, Unity, SFML, XCode, TFS, CMake, node.js, pug (jade), Sass, Jira, jQuery, Bootstrap, SQL, Angular2

div.section-header Education
div.section
    ul
        li BS, Computer Science, Radford University
